.new-tweet {
  flex: auto;
  padding: 10px;
  margin: 2em;
  margin-top: 0px;
  border-style: solid;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  position: relative;
  background-color: #ecf0f1;
  display: none;
}

.new-tweet h2 {
  border-bottom-width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #34495e;
}

.new-tweet span {
  position: absolute;
  right: 5px;
  bottom: 7px;
  font-size: 80%;
}

.new-tweet textarea {
  padding: 10px;
  width: 100%;
}

.warning-character-max {
  color: red;
}
