.saved-tweets {
  flex: auto;
  margin: 2em;
  margin-top: 0px;
  position: relative;
}

.saved-tweets article {
  border: 0.5px solid #bdc3c7;
  border-radius: 3px;
  margin-bottom: 10px;
}

.saved-tweets header {
  background-color: #ecf0f1;
/*  margin: 0;
/*  padding-left: 3px; */
  display: flex;
  padding: 10px;
  align-items: center;
  opacity: 0.5;
  height: 80px;
/*  display: inline-block;
  width: 100%;
*/}

.saved-tweets p {
  word-wrap: break-word;
  background-color: #FFF;
  padding: 0 10px;
  height: 70px;
}

.saved-tweets footer {
  line-height: 24px;
  font-size: 0.75em;
  background-color: #FFF;
  border-top: 1px solid #bdc3c7;
  padding-left: 3px;
}

.saved-tweets footer i {
  opacity: 0;
  color: #00a087;
  margin-left: 10px;
  float: right;
  padding: 5px;
}

.saved-tweets article:hover {
  border: 0.5px solid black;
}

.saved-tweets article:hover i {
  opacity: 1;
}

.saved-tweets article:hover header {
  opacity: 1;
}

.saved-tweets img {
  border-radius: 8px;
  width: 20%;
  padding-right: 5px;
}

.saved-tweets h2 {
  font-size: x-large;
  flex-grow: 2;
  align-self: flex-end;
}

.saved-tweets h5 {
  font-weight: lighter;
  align-self: flex-end;
  line-height: 4;
}
